* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(100deg, #8ca5ea);
    min-height: 100px;
    padding: 20px;
    color: black;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    text-align: center;
    color: #05186c;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5em;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.search-box input {
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.search-box button {
    padding: 12px;
    /*width: 300px;*/
    border: none;
    border-radius: 20px;
    background: linear-gradient(100deg, #61659e);
    color: rgb(1, 19, 19);
    cursor: pointer;
}

.current-weather,
.forecast-section {
    background: hsl(208, 32%, 44%);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.current-weather-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.location {
    font-size: 1.8em;
    font-weight: bold;
}

.date {
    color: rgb(52, 6, 158);
}

.current-main {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.weather-icon {
    font-size: 5em;
}

.temperature {
    font-size: 3.5em;
    font-weight: bold;
    color: #667eea;
}

.description {
    color: rgb(2, 8, 64);
}

.weather-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.detail-item {
    background: #59a7d1;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.value {
    font-weight: bold;
    font-size: 1.3em;
}

.hourly-forecast {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.hourly-item {
    background: #4dc1de;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}

.daily-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
}

.detail-item {
    background: #8ac8e9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.loading {
    text-align: center;
    color: #011921;
    font-size: 1.5em;
}

.error {
    background: red;
    color: #84c2d8;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}